.details_form {
    max-width: 100%;
    padding-inline: 2rem 3rem;
    margin: 0 auto;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    min-height: 100vh;
    box-sizing: border-box;
}

.form_group {
    margin-bottom: 15px;
}

.form_group label {
    display: block;
    margin-bottom: 5px;
}

.form_group input[type="text"] {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit_btn {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 3rem;
}

.submit_btn:hover {
    background-color: #0056b3;
}
.gridContainer{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap:1rem;
}
.title{
  text-align: center;
  padding-top: 5rem;
  margin-bottom: 2rem;
  margin-top: 0;
}