.infoBoxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #161616;
  padding-bottom: .7rem;
  margin-inline: 1.2rem;
  border-radius: 15px;
  margin-top: 0.2rem;
  border: 1px solid #363535;
}
.detailItemContainer {
  text-align: center;
}
.textTop {
  color: #a0a0a0;
}
.textBottom {
  color: #3a9979;
  font-weight: 500;
  margin-top: -0.6rem;
  padding-bottom: 0rem;
}
.negative{
    color: #c6626c;
}
.minorDetails {
  display: flex;
  align-items: flex-end;
  gap: 2.5rem;
  margin-top: -.3rem;
}
.dividerVertical {
  width: 1px;
  background-color: #363535;
  height: 35px;
}
